.recipeCard__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: .4rem;
    padding: 2rem;
    background: var(--color-background);
    width: 20rem;
    height: 20rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
    cursor: pointer;
}

.recipeCard__wrapper:hover {
    background: var(--color-background-hover);
}

.recipeCard__header {
    font-family: var(--font-family-primary);
    text-align: center;
}

.recipeCard__imgWrapper {
    display: flex;
    justify-content: center;
}

.recipeCard__img {
    width: 12rem;
    border-radius: .8rem;
}