.textCard__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: .4rem;
    padding: 2rem;
    background: var(--color-background);
    width: 20rem;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
    cursor: pointer;
    transition: transform .2s ease-in;
}

.textCard__wrapper:hover {
    background: var(--color-background-hover);
    transform: scale(1.1);
}

.textCard__header {
    font-family: var(--font-family-primary);
    text-align: center;
    font-size: 2.5rem;
}

.textCard__imgWrapper {
    display: flex;
    justify-content: center;
}

.textCard__img {
    width: 14rem;
}