@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap');
html {
  --color-text: black;
  --color-background: white;
  --color-background-hover: #F1F1F1;
  --color-primary: #E7ECE6;
  --color-secondary: #F3F6F2;
  --font-family-primary: 'Bebas Neue', cursive;
  --font-family-secondary: 'Rokkitt', serif;
  --header-font-size: 7rem;
  --header-y-padding: 5rem;
  --subheader-font-size: 2.5rem;
  --side-page-padding: 7rem;
  --side-header-padding: 7rem;
  --back-arrow-width: 2rem;
  --paragraph-font-size: 2rem;
  --paragraph-line-height: 4rem;
  --recipe-content-margin: 0;
  --recipe-title-margin-left: 4rem;
  font-size: 62.5%;
}

@media only screen and (max-width: 600px) {
  html {
    --side-page-padding: 4rem;
    --header-font-size: 5rem;
    --header-y-padding: 3rem;
    --subheader-font-size: 1.6rem;
    --back-arrow-width: 1.5rem;
    --paragraph-font-size: 1.6rem;
    --paragraph-line-height: 3rem;
    --recipe-content-margin: 2rem 0;
    --recipe-title-margin-left: 2rem;
    --side-header-padding: 2rem;
  }

  .recipeDetails__mealImage {
    display: none;
  }
}

.App {
  font-size: 1.6rem;
}

.app__backArrow {
  cursor: pointer;
  width: auto;
  padding: 0 1.2rem;
  border: none;
  background: none;
}

.app__backArrowImg {
  width: var(--back-arrow-width);
}

.app__cardsWrapper {
  display: flex;
  justify-content: center;
  background: var(--color-primary);
  padding: 2rem var(--side-page-padding);
  margin-bottom: 3rem;
}

.app__cardsContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 6rem;
  margin: 4rem 0;
  width: 100%;
}

.app__infoSpan {
  font-family: var(--font-family-secondary);
  font-size: 2rem;
}

.recipeDetails__headerWrapper {
  background: var(--color-primary);
  padding: 4rem var(--side-header-padding);
  margin: 5% 0;
  display: flex;
  align-items: center;
}

.recipeDetails__headerText {
  font-family: var(--font-family-primary);
  font-size: var(--header-font-size);
  margin-left: var(--recipe-title-margin-left);
}

.recipeDetails__contentWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem var(--side-page-padding);
}

.recipeDetails__recipeContent {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: var(--recipe-content-margin);
}

.recipeDetails__recipeContentHeader {
  font-family: var(--font-family-primary);
  font-size: 2.5rem;
}

.recipeDetails__contentSeparator {
  height: 2rem;
  width: 100%;
  border: none;
  background: var(--color-primary);
}

.recipeDetails__ingredientsList {
  font-family: var(--font-family-secondary);
  font-size: var(--paragraph-font-size);
  font-weight: 700;
  line-height: var(--paragraph-line-height);
}

.recipeDetails__instructionsText {
  font-family: var(--font-family-secondary);
  font-size: var(--paragraph-font-size);
  font-weight: 700;
  line-height: var(--paragraph-line-height);
}

.recipeDetails__mealImage {
  width: 30rem;
  height: 30rem;
  border-radius: .6rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
}