@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poiret+One&display=swap');

html {
  --color-text: black;
  --color-background: white;
  --color-primary: #E7ECE6;
  --font-family-primary: 'Bebas Neue', cursive;
  --font-family-secondary: 'Poiret One', cursive;
  font-size: 62.5%;
}

.App {
  font-size: 1.6rem;
}

.categories__cardsWrapper {
  display: flex;
  justify-content: center;
  background: var(--color-primary);
  padding: 2rem;
  flex-wrap: wrap;
}

